body {
    background-color: #272727;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: relative; /* Helps with footer positioning */
}
.custom-navbar-color {
    background-color: #7B6D8D;
}

h1, h2, h3, h4, p, h5, #study-time {
    color: white;
}

.nav-link, .navbar-brand {
    color: white;
}

hr {
    width: 90%;
    color: #7B6D8D;
    margin: auto;
}

.nav-link {
    font-size: 1.375rem;
    margin-right: 0.5%;
}

.navbar-brand {
    font-size: 1.438rem;
    margin-left: 2%;
}

#last-nav-bar-item {
    margin-right: 2%;
}

#project_title {
    color: #7B6D8D;
}

#translation-card {
    background-color: #7B6D8D;
}

#center_this {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Remove the fixed positioning from the navbar */
.navbar {
    position: static; /* Change from fixed to static */
    width: 100%;
    background-color: #7B6D8D;
}

/* Ensure the footer is at the bottom of the page */
.footer {
    background-color: #272727;
    color: white;
    padding: 0.5em 0;
    text-align: center;
    width: 100%;
    /* Remove `position: fixed` and let flexbox handle it */
}
@media (max-width: 768px) {
    #study-time {
        font-size: 1.2rem;
    }
    .card {
        margin-bottom: 10px;
    }
    #chart_div {
        height: 200px;
    }
}