<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ómar B - Translations</title>

    <!--Load google charts api-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
    <!--Base Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!--Navbar-->
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
        
    <!--My Stylesheet-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
    
    <script type="text/javascript">

      async function fetchProgress() {
        try {
          const response = await fetch("/translation_progress");
          const data = await response.json();
          
          const total = data.completed + data.inProgress + data.remaining;
          const completedPercentage = (data.completed / total) * 100;
          const inProgressPercentage = (data.inProgress / total) * 100;
          const remainingPercentage = (data.remaining / total) * 100;
          
          // Update progress bar widths
          document.getElementById("progress-completed").style.width = completedPercentage + "%";
          document.getElementById("progress-inprogress").style.width = inProgressPercentage + "%";
          document.getElementById("progress-remaining").style.width = remainingPercentage + "%";

          // Update progress bar text content
          document.getElementById("progress-completed").innerText = Math.round(completedPercentage) + "%";
          document.getElementById("progress-inprogress").innerText = Math.round(inProgressPercentage) + "%";
          document.getElementById("progress-remaining").innerText = Math.round(remainingPercentage) + "%";

          let progress_bar_height = "4em";
          document.getElementById("progress-completed").style.height = progress_bar_height;
          document.getElementById("progress-inprogress").style.height = progress_bar_height;
          document.getElementById("progress-remaining").style.height = progress_bar_height;

          document.getElementById("container-of-progress-bar").style.height = progress_bar_height;

        } catch (error) {
          console.error("Error fetching progress:", error);
        }
      }
      fetchProgress();

      google.charts.load('current', {'packages':['corechart']});

      google.charts.setOnLoadCallback(() => fetchDataAndDrawChart({
        endpoint: '/songs_and_times',
        chartTitle: 'Time Spent on Songs',
        xAxisTitle: 'Song',
        yAxisTitle: 'Minutes Translating',
        color: '#36827F',
        chart_name: 'figure_1.1'
      }));

      google.charts.setOnLoadCallback(() => fetchDataAndDrawChart({
        endpoint: '/get_tttl',
        chartTitle: 'Time spent divided by track length',
        xAxisTitle: 'Song',
        yAxisTitle: 'Time Spent / Track Length',
        color: '#F93943',
        chart_name: 'figure_1.2'
      }));

      google.charts.setOnLoadCallback(() => fetchDataAndDrawChart({
        endpoint: '/get_pagecount_times',
        chartTitle: 'Time spent divided by page count',
        xAxisTitle: 'Song',
        yAxisTitle: 'Time Spent / Page Count',
        color: '#C5D5EA',
        chart_name: 'figure_1.3'
      }));

      function larger_multiple_of_ten(n){
        // Smaller multiple
        let a = parseInt(n / 10, 10) * 10;
        // Larger multiple
        let b = a + 10;
        
        return b
      }

      async function fetchDataAndDrawChart({endpoint, chartTitle, xAxisTitle, yAxisTitle, color, chart_name}) {
        try {
          const response = await fetch(endpoint);
          const data = await response.json();

          // Prepare the data for Google Charts
          const chartData = [[xAxisTitle, yAxisTitle, { role: 'style' }]];

          var biggestDataPoint = 0;

          if (endpoint == '/songs_and_times'){
            biggestDataPoint = null
            data.forEach(item => {
              const timeParts = item[1].split(':');
              const timeInMinutes = parseInt(timeParts[0]) * 60 + parseInt(timeParts[1]) + parseInt(timeParts[2]) / 60;
              chartData.push([item[0], timeInMinutes, color]);
            });
          }

          else if (endpoint == '/get_tttl' || endpoint == '/get_pagecount_times'){
            biggestDataPoint = 0;

            data.forEach(item => {
              chartData.push([item[0], parseInt(item[1]), color]);

              if (parseInt(item[1]) > biggestDataPoint) biggestDataPoint = parseInt(item[1]);
            });

            biggestDataPoint = larger_multiple_of_ten(biggestDataPoint)
          }

          // Create the data table
          const dataTable = google.visualization.arrayToDataTable(chartData);

          // Set chart options
          const options = {
              title: chartTitle,
              titleTextStyle: { color: '#ffffff' },
              backgroundColor: '#191716',
              hAxis: { title: xAxisTitle, textStyle: { color: '#ffffff' } },
              vAxis: { 
                  title: yAxisTitle, 
                  minValue: 0, 
                  viewWindow: { max: biggestDataPoint },
                  textStyle: { color: '#ffffff' }
              },
              legend: { position: 'none' }
          };

          // Instantiate and draw the chart
          const chart = new google.visualization.ColumnChart(document.getElementById(chart_name));
          chart.draw(dataTable, options);


        } catch (error) {
          console.error('Error fetching data or drawing chart:', error);
        }
      }

      async function updateSpotifyEmbed() {
        try {
          const response = await fetch("/get_current_song_id");
          const data = await response.json();
          
          const songId = data.song_id;
          if (songId) {
            document.getElementById("spotify-embed").src = `https://open.spotify.com/embed/track/${songId}?utm_source=generator&theme=0`;
          }
        } catch (error) {
          console.error("Error fetching current song:", error);
        }
      }
      
      fetchProgress();
      updateSpotifyEmbed();
    </script>
  </head>
  
  <body>
    <!--Navigation Bar-->
    {% include 'navbar.html' %}
    
    <!--Total study time-->
    <div id="study-time" style="text-align: center; font-size: 1.5rem; font-weight: bold; margin-top: 0.625rem;"></div>
    <script>
      async function updateStudyTime() {
          try {
              let response = await fetch('/get_total_study');
              let data = await response.json();
              document.getElementById('study-time').innerText = `Total time spent translating: ${data.hours}h ${data.minutes}m`;
          } catch (error) {
              console.error('Error fetching study time:', error);
          }
      }

      updateStudyTime();
    </script>

    <!--Progress bar -->
    <div class="container mt-4" style="margin-bottom: 1.25rem;">
      <div class="progress" id="container-of-progress-bar">
        <div id="progress-completed" class="progress-bar bg-success" style="width: 0%"></div>
        <div id="progress-inprogress" class="progress-bar bg-warning" style="width: 0%"></div>
        <div id="progress-remaining" class="progress-bar bg-danger" style="width: 0%"></div>
      </div>
    </div>

    <!--Title-->
    <h1 style="margin-bottom: 1.25rem;" id="center_this"><strong>The <em>Asian Kung-Fu Generation</em> translation project</strong></h1>

    <!--Description and current song-->
    <div class="container" style="margin-bottom: 1em;">
      <div class="row d-flex align-items-stretch">
        <div class="col-12 col-sm-6">
          <div class="card text-white bg-dark mb-3 h-100" id="translation-card">
            <div class="card-body">
              <h5 class="card-title">Project Preamble</h5>
              <p class="card-text">
                'The <em>Asian Kung-Fu Generation</em> (AKFG) translation project' is a personal data-visualisation project that also helps me study Japanese!
                <br><br>The project consists of me going through my favorite songs by the band <em>Asian Kung-Fu Generation</em> and studying their vocabulary. I'm trying to get the most interesting datapoints from that studying and visualising them here.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="card text-white bg-dark mb-3 h-100">
            <div class="card-body">
              <p class="card-text">
                <iframe id="spotify-embed" style="border-radius:0.75rem"
                src="https://open.spotify.com/embed/track/4EZnEUoKYVG5wfx5pF8Gb7?utm_source=generator&theme=0" 
                width="100%" height="152" frameBorder="0" 
                allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
                loading="lazy">
              </iframe>
              <h5 class="card-title text-center">Currently translating:</h5>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div> 

    <!--Data Title-->
    <h2 style="margin-top: 1.25rem; margin-bottom: 1.25rem;" id="center_this"><strong>The Data</strong></h2>

    <div class="card text-white bg-dark mb-3 h-100" id="center_this">
      <div class="card-body">
          <p class="card-text">
        We're going to use data to try to figure out if I'm actually getting better / faster at translating.
        <br> First, let's just look at how long it has taken me (in minutes) to translate each song so far.
          </p>
      </div>
    </div>

    <!-- Figure 1.1 -->
    <div class="container" style="max-width: 1200px; margin: auto; padding: 20px;">
      <div class="row">
          <div class="col-12">
              <div class="card text-white bg-dark mb-3">
                  <div class="card-body text-center">
              <h5 class="card-title">Translations over time</h5>
                <div id="figure_1.1" style="width: 100%; height: auto; min-height: 18.75rem;"></div>
                <p><small>Figure 1.1: Bar chart showing translations over time.</small></p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-12">
          <div class="card text-white bg-dark mb-3">
            <div class="card-body">
              <p class="card-text text-center">
                This chart shows the amount of minutes it took for me to translate each song on its own.
                <br><br>If we're trying to see how much I'm improving over time, this chart doesn't actually show much, due to the fact that this data is so affected by track length.
                <br><br>It's logical to assume that the longer a song is, the longer it would take for me to translate that song, so my actual improvement could be hidden.
                <br><br>Let's try to fix that by divinding the time it took me to translate each song by the tracklength.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Figure 1.2-->
    <div class="container" style="max-width: 1200px; margin: auto; padding: 20px;">
      <div class="row">
          <div class="col-12">
              <div class="card text-white bg-dark mb-3">
                  <div class="card-body text-center">
                      <h5 class="card-title">Dividing translation time by track length</h5>
                      <div id="figure_1.2" style="width: 100%; height: auto; min-height: 18.75rem;"></div>
                      <p><small>Figure 1.2: Bar chart showing translation time / song length.</small></p>
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-12">
              <div class="card text-white bg-dark mb-3">
                  <div class="card-body">
                    <p class="card-text text-center">
                      What this chart shows it that for each second of a song, it took me X seconds to translate that song
                      <br><br>However, another issue arises here!
                      <br><br>It's the fact that track length isn't directly correlated with "amount of lyrics". 
                      <br>A 5-minute song with a long guitar solo could have fewer lyrics than a 2-minute song with no guitar solos.
                      <br>This point is shown pretty well with the song タイトロープ, an almost 6 minute song with only around a page's worth of lyrics.
                      <br><br>Let's see what we find in the opposite direction. We'll completely ignore track length, and only focus on number of lyrics / time spent translating said lyrics.
                    </p>
                </div>
              </div>
          </div>
      </div>
    </div>

    <!--Figure 1.3-->
    <div class="container" style="max-width: 1200px; margin: auto; padding: 20px;">
      <div class="row">
          <div class="col-12">
              <div class="card text-white bg-dark mb-3">
                  <div class="card-body text-center">
                      <h5 class="card-title">Dividing translation time by page count</h5>
                      <div id="figure_1.3" style="width: 100%; height: auto; min-height: 18.75rem;"></div>
                      <p><small>Figure 1.3: Bar chart showing time translation time / page count.</small></p>
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-12">
              <div class="card text-white bg-dark mb-3">
                  <div class="card-body">
                    <p class="card-text text-center">
                      For now, I can't say much about this data except for the fact that I hope it trends down later.
                      <br> For now, it all looks pretty similar, which is pretty boring.
                    </p>
                </div>
              </div>
          </div>
      </div>
    </div>



    <!--API's, Languages, & other stuff used-->
    <div class="container" style="margin-left: auto; margin-right: auto;">
      <div class="card text-white bg-dark mb-3">
        <div class="card-body text-center">
          <h5 class="card-title">API's, Languages, & other stuff used</h5>
          <p class="card-text">- My main data source is my <a href="https://docs.google.com/spreadsheets/d/1d-EzIikQ1kvo58Gj6pHKr22lmSphXLe-siMwmwtruyo/edit?usp=sharing" target="_blank">Google Sheet</a>! This is where I write down study times, and have other data about the songs.
          <br>- To set up the sheet, I needed to use the Spotify API to get the names of the songs and how long they where.
          <br>- To get data from this sheet, I'm using the Google Cloud Sheets API.
          <br>- This website is built using the Flask framework (and therefore; Python, HTML/CSS, and some Javascript)</p>
        </div>
      </div>
    </div>

    {% include 'footer.html' %}
  </body>
</html>